<?xml version='1.0' encoding='utf-8'?>
<widget id="Balsam.quiz.com" version="0.1.0">
  <name>Balsam</name>
  <description>
    Balsam app for students
  </description>
  <author email="Balsam_app_contact@gmail.com">
    Balsam Dev
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <platform name="android">
  <icon density="ldpi" src="src\ldpi"/>
  <icon density="mdpi" src="src\mdpi.png"/>
  <icon density="hdpi" src="src\hdpi.png"/> 
  <icon density="xhdpi" src="src\xhdpi.png"/>
  <icon density="xxhdpi" src="src\xxhdpi.png"/>
  <icon density="xxxhdpi" src="src\xxxhdpi.png"/>
  <splash density="ldpi" src="src\splash-port-ldpi.png"/>
  <splash density="mdpi" src="src\splash-port-mdpi.png"/>
  <splash density="hdpi" src="src\splash-port-hdpi.png"/>
  <splash density="xhdpi" src="src\splash-port-xhdpi.png"/>
  <splash density="xxhdpi" src="src\splash-port-xxhdpi.png"/>
  <splash density="xxxhdpi" src="src\splash-port-xxxhdpi.png"/>
</platform>
</widget>
